@media only screen and (min-width: 320px) and (max-width: 480px) {
	.ambassador--video {
    	width: 100%;
    	margin: 0 auto;
	}

	.product__name {
    max-height: 2rem;
	}

	.ambassador--benefits__convocatory.theme--blue {
    	background: #318092;
    	padding: 2rem;
	}
	.contact--description, .history--description, .jobs--description, .cresiendo--container, .tools--description {
		padding: 2rem;
	}

	.myomnibusiness-menu.withbg.omnilife {
		min-height: auto;
		text-align: center;
	}

	.products .product__link {
    min-height: auto;
    padding: 2rem 0;
}

	.myomnibusiness__title { text-align: center; }

	.product.myomnibusiness.omnilife p { display: none; }

	.myomnibusiness.product.omnilife { padding: 1rem 0; }

	.contact--callcenter, .brands, .tools--grid {
		width: 100%;
	}

	.brands--container, .tools--grid__container { padding: 2rem; }

	.business__grid, .tools--grid__list { width: 100%; }

	li.brand__item.slider__item {
		padding: 2rem 0;
	}

	.wrapper.body-content {
		width: 100%;
	}

	.brand--location, .tools--banner { width: 100%; margin-top: 0; padding: 1rem;}

	.brand--location p, .tools--banner p {
		width: 100%;
	}

	.ezone__filters, .datefilter__group { display: block; }

	.ezone__header + .datefilter .datefilter__label.business-center {
		display: inline-block;
		width: auto;
	}

	.ezone__filters .datefilter__label.business-center { display: inline-block; width: auto;}

	.select {
		position: relative;
		width: auto;
		display: inline-block;
	}

	.ezone__filters select { width: 100%; }

	.select::after { right: 1rem; }

	.datefilter__search {
		padding: 10px 2.75rem 10px 1rem;
		/*margin-top: 1rem;*/
		position: relative;
		box-sizing: border-box !important;
		width: 100%;
	}

	.cases__filter {
    margin-top: 0;
    display: block;
    width: 90%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
	}

	.business__main--search {
    margin-right: 0;
    display: block;
    width: 100%;
	}
	.cases__filter .tools__form-group {
		width: 100%;
    display: block;
    margin-bottom: 7rem;
    position: absolute;
    top: 4rem;
	}

	.select.select--stories {
    width: 200px;
    padding-bottom: 1rem;
    width: 100%;
    margin-top: 1rem;
	}

	.select.select--stories {
		width: 200px;
		padding-bottom: 1rem;
	}

	.datefilter__group .icon-search img {
		right: 21px;
		top: 3rem;
		position: absolute;
	}

	.products-desc.withbg.mid.wrapper {
		width: 100%;
	}

	.ezone__panel.cedis { width: 100%; }

	.contact--container {
		max-width: 100%;
		width: 100%;
		display: block;
	}

	.contact--description,
	.contact--form {
		width: calc(100%);
	}

	.contact--form {
		padding: 3rem 0 7rem;
	}

	.contact--form input[type="submit"] {
		float: none;
		left: 0;
		right: 0;
		position: relative;
		margin: 0 auto;
		top: 1rem;
	}

	.contact--callcenter {
		margin-left: 0;
	}

	.callcenter--creo,
	.callcenter--nutretuvida {
		width: 100%;
		min-height: auto;
	}


	.callcenter--creo p,
	.callcenter--nutretuvida p {
		position: relative;
		bottom: 0;
	}

	.callcenter--creo h2, .callcenter--nutretuvida h2 {
		position: relative;
		bottom: 0;
	}

	.contact--list {
		margin-top: 0;
		width: 100%;
	}

	.contact--list__creo, .contact--list__nutre {
		width: 100%;
	}

	.cresiendo--container {
		padding: 2rem 1rem;
	}

	.cresiendo--thumbnails__item,
	.jobs--thumbnails__item {
		width: 100%;
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}

	.cresiendo--thumbnail__faq {
		top: -9.8rem;
		min-height: 23rem;
	}

	.cresiendo--thumbnail__faq.theme--green {
		top: -11.6rem;
	}

	.cresiendo--thumbnails__item figcaption.theme--magenta,
	.cresiendo--thumbnails__item figcaption.theme--green {
	    top: -3rem;
	    width: 95%;
	    font-size: .9rem;
	}

	.business__main-title.cases__headline.cresiendo {
	    background: #fff;
	    text-align: left;
	    padding: 1rem 3rem 1rem 3rem;
	}

	.testimonial.cases__item.story-item .button {
    	margin-top: 1rem;
	}

	.bottom-banner__content .button {
    	margin: 30px auto 21px auto;
	}

	.cresiendo--container + .cases__body {
    	margin-top: 0;
	}

	.business__main-title.cresiendo + .cases__body {
	    margin-bottom: 5rem;
	    top: 6rem;
	}

	.myomnibusiness__title { text-align: center; }

	.myomnibusiness-menu.withbg {
		margin: 0 auto;
	}

	.myomnibusiness-menu.withbg .products-desc__description {
		margin: 0 auto;
		font-size: 1rem;
	}

	.jobs--description {
		padding: 2rem 1rem;
	}

	.c-50,
	.c-33 {
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}

	.jobs--vision {
		padding-top: 0;
	}

	.jobs--vision__title {
		padding-left: 0;
		padding-right: 0;
	}

	.jobs--vision__description { padding: 2rem 1rem; }

	.rewards--item img {
		margin: 0 auto;
	}

	.rewards--item figcaption { text-align: center; }

	.ambassador--faq__objectives, .ambassador--faq__benefits {
		width: 100%;
	}

	.ambassador--faq__objectives.theme--green {
		padding: 3rem 2rem 3rem 6rem;
	}

	.ambassador--benefits__container.theme--gray {
		padding: 0.5rem 2rem 3rem 5rem;
	}

	.ambassador--world {
		left: -29px;
	}

	.ambassador--benefits__convocatory a { font-size: 0.85rem; }

	.ezone__textcontent.template-events .text {
		width: 100%;
	}

	.ezone__textcontent.template-events .ezone__banners {
		width: 100%;
	}

	.select-country--form {
		-moz-transform: translateY(20%);
		-webkit-transform: translateY(20%);
		-ms-transform: translateY(20%);
		transform: translateY(20%);
	}

	.select-country {
		background-position: 70%;
	}

	.select.select--categories select {
		padding: .5rem 1.5rem;
		margin: 1rem .5rem 1rem 0;
		width: 100%;
		border-radius: 10px;
	}

	.select.select--categories::after {
		position: absolute;
    right: 11px;
    top: 30px;
	}

	.select.select--categories input[type="text"], .button.small.button-country {
		padding: .5rem 1rem;
		border-radius: 10px;
		margin-bottom: 1rem;
		width: 100%;
		max-width: 100%;
		margin-left: 0;
	}

	.products-block.grid .product {
    width: 100%;
    padding: 1rem;
	}
	.product__image {
		max-width: 242px;
	}
	.products-desc.mid.banner {
    min-height: auto;
	}

	.product.slider__item.banner {
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}
	.product__image img {
    margin: 1rem auto;
    width: 90%;
	}

	.product-sale.banner {
    padding: 20px 30px 20px 30px;
    min-height: auto;
    border: 0;
	}
	.button.small{
		margin: 1.5rem auto;
	}

	.bottom-banner__content h2 {
		width: 90%;
		margin: 0 auto;
	}

	.wrapper {
		width: 100%;
	}

	.business-slider .mainslider__content {
		padding-left: 20px;
	}
	.main-h__logo {
		margin-left: 10px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 577px) {
.ezone__grid-item {
	margin: auto;
}
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
	.select.select--categories, .select.select--stories, .select.select--date, .select.select--news {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 320px) and (max-width: 1023px) {
	.ezone__panel.cedis  {
		width: 100%;
		padding: 20px;
	}
	.ezone__banner {
		position: relative;
		margin: auto;
		width: 85%;
}
	.cedis__gallery--main img {
		margin: auto;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.datefilter__search {
		width: 150px;
	}
	.select.select--stories {
		width: 200px;
		padding-bottom: 1rem;
	}
	.cases__filter {
		margin-top: -11px;
	}

	.products-desc .button.small {
    margin: 15px auto;
	}
}
/* iPad in Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	.dropdown.active .dropdown-list {
		overflow-y: scroll;
		max-height: 24rem;
	}

	.products-desc {
    margin-left: 0;
	}

	.brands {
		width: 100%;
	}

	.brand__item, .tools--grid__item {
		padding: 2rem 0;
	}

	.ezone__header + .datefilter .datefilter__label.business-center {
		display: none;
	}

	.datefilter__label.business-center + .select {
		margin: 0 .3rem;
	}

	.datefilter__group.search__group { display: block; }

	.datefilter__group {
		display: inline-block;
		vertical-align: middle;
	}

	.ezone__filters .datefilter__label.business-center { display: inline-block; width: auto;}

	.select {
		position: relative;
		width: auto;
		display: inline-block;
	}

	.select.select--categories::after {
		right: 11px;
    top: 31px;
	}

	.select.select--categories select {
    padding: 10px 23px;
    margin: 2rem .5rem 2rem 0;
	}

	.select.select--categories, .select.select--stories, .select.select--date, .select.select--news {
		margin: 0 auto;
	}

	.select.select--categories {
		width: auto;
	}

	.products-desc.withbg .products-desc__description {
		margin-top: .5rem;
		width: 100%;
	}

	.button.small {
    margin: 2rem auto 1rem auto;
	}

	.ezone__filters select { width: 100%; }

	.select::after { right: .5rem; }

	.datefilter__search {
		padding: 10px 2.75rem 10px 1rem;
		margin-top: 1rem;
		position: relative;
		box-sizing: border-box !important;
		width: 100%;
	}

	span.datefilter__label.business-center { display: none; }

	.datefilter__group .icon-search img {
		right: 21px;
		top: 3rem;
		position: absolute;
	}

	.ezone__filters .datefilter__label.business-center {
		padding-left: 1rem;
		padding-bottom: 1rem;
	}

	.contact--description {
		padding: 1rem;
	}

	.contact--callcenter {
		margin-left: 0;
		width: 100%;
	}

	.callcenter--creo h2,
	.callcenter--nutretuvida h2 {
		bottom: 200px;
	}

	.cresiendo--container {
		padding: 1rem;
	}

	.cresiendo--thumbnails__item figcaption.theme--green { top: -5rem; }

	.cresiendo--thumbnails__item figcaption.theme--magenta { top: -4.5rem; }

	.cresiendo--thumbnail__faq.theme--magenta { top: -11rem; }

	.cresiendo--thumbnail__faq.theme--green { top: -12rem; }

	.jobs--description,
	.jobs--vision__title {
		padding: 1rem;
	}

	.c-50 {
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
	}

	.jobs--vision__description {
		padding: 1rem;
	}

	.c-33 {
		-webkit-flex-basis: 50%;
		flex-basis: 50%;
	}

	figure.vacant--item {
		margin-top: 1rem !important;
	}

	.ambassador .products-desc__title {
		font-size: 1.9rem;
	}

	li.tools--grid__item.slider__item {
		width: 50%;
		-webkit-flex-basis: 50%;
		flex-basis: 50%;
	}

	.ezone__textcontent.template-events .text {
		width: 100%;
	}

	.myomnibusiness-menu.withbg.omnilife {
		min-height: auto;
		padding: 2rem 1rem 3rem 1rem;
		width: 100%;;
	}

	.myomnibusiness-menu.withbg .myomnibusiness__title {
		text-align: center;
	}

	.select-country {
		background-position: 50%;
	}

	.select.select--categories select {
    padding: 0rem 1rem;
    margin: 2rem 0.5rem 2rem 0;
}

	.select.select--categories input[type="text"],
	.button.small.button-country {
		padding: 1rem 1rem;
	}

	a.button.small.button-country {
		padding: 1rem 3rem;
	}

	.select-country--form {
		-moz-transform: translateY(40%);
		-webkit-transform: translateY(40%);
		-ms-transform: translateY(40%);
		transform: translateY(40%);
	}

	.select-country--form h1 {
		text-align: left;
	}

	.nav-list.top .nav-item {
    	font-size: 0.6rem;
	}

	.products-desc {
		margin-left: 0;
	}

	.select.select--categories {
		width: 100%;
	}
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px)  {
	.select-country--form {
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  {
	.nav-list.top .nav-item {
    	font-size: 0.7rem;
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
	.select-country--form {
		padding: 0;
	}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
	.select-country {
		background-position: initial;
	}
	.select-country--form {
		-moz-transform: translateY(50%);
		-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
		transform: translateY(50%);
		padding: 0;
	}

	.select-country--form h1 {
		font-size: 1.5rem;
		padding: 0;
	}

	.select.select--categories select {
		padding: .5rem .5rem;
		margin: 1rem .5rem 1rem 0;
	}

	.select.select--categories input[type="text"], .button.small.button-country {
		padding: .5rem;
	}

	a.button.small.button-country {
		padding: .5rem 2rem;
		border-radius: 10px;
	}
}
@media (max-width: 1024px) {
	.cases__banner {
		margin-top: 20px;
	}
}
@media (min-width : 1058px) and (max-width : 1135px)  {
	.datefilter__search {
		width: 120px;
	}
}
@media (min-width : 1024px) and (max-width : 1057px)  {
	.datefilter__search {
		width: 100px;
	}
}

@media (min-width: 1280px) {
	.brand--location p {
    width: 25%;
		line-height: 1.5;
		text-align: left !important;
	}

	.brand--location .map { top: 10%; }
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.brand--location .map {
    position: absolute;
    bottom: 0;
    top: 20%;
    width: 69%;
    right: 0;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.brand--location .map {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60%;
	}

	.brand--location p {
    width: 100%;
    line-height: 20px;
	}

	.select.select--categories {
		margin: 0 auto;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.brand--location .map {
    position: absolute;
    right: 0;
    top: 7%;
    bottom: 0;
    width: 60%;
	}

	.slider.initialized .slider__item.active {
    background-position: 80%;
    background-position: center center;
	}
}
@media (max-width: 768px) {
	.button.small{
		/*margin: auto;*/
		margin-top: 2rem;
	}
}
@media (min-width: 1366px) and (max-width: 1140px) {
	.myomnibusiness-menu--subtitle {
		height: 40px;
	}
}
@media (min-width: 770px) and (max-width: 1440px) {
	.ezone__grid-img img {
	  width: 200px !important;
	}
}
@media (max-width: 768px) {
	.modal__register, .modal__login {
		width: 100%;
	}
	.modal__inner {
		height: 100vh !important;
	}
	h3.modal__register--title, h3.modal__login--title {
		font-size: 1.3rem;
	}
	.modal__register, .modal__login {
		padding: 10px;
	}
	.modal {
		padding: 1.5rem;
		height: 90%;
	}
	.modal-close.close {
	}
}
@media (max-width: 1023px) {
	.products-desc .button {

	}
}
@media (max-width: 767px) {
	h2.history--title.omnilife {
	font-size: 1.8rem;
	}
}
@media (max-width: 560px) {
	.form-radio.card.stack {
		width: 80%;
	}
}
@media (max-width: 413px) {
	.form-radio.card.stack {
		width: 70%;
	}
}
@media (max-width: 374px) {
	.form-radio.card.stack {
		width: 60%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .notification {
    margin-right: 40px;
  }
}
