.products-page.inner {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-bottom: -3px;
    margin-left: 5px;
    border-radius: 2px;
    background-image: radial-gradient(circle at 33% 0, #ffdddf, #ff5b66 23%);
}

/* Seytú */

.products-page.inner.theme--hair {
    background: #8ad2d2 !important;
}

.products-page.inner.theme--skin {
    background: #fcb219 !important;
}

.products-page.inner.theme--makeup {
    background: #f25b5c !important;
}

.products-page.inner.theme--complementSeytu {
    background: #802c8e !important;
}

.products-page.inner.theme--fragances {
    background: #eb1c35 !important;
}

.products-page.inner.theme--gentleman {
    background: #424592 !important;
}

.products-page.inner.theme--systems {
    background: #70c280 !important;
}

.products-page.inner.theme--kenyaVergara {
    background: #5f7c3c !important;
}

/* General */

.products-page.inner.theme--neutral {
    background: #fff !important;
}