/* ********************************** Global ********************************** */

/* Body */
body {
  background-color: #45cbd4;
}

/* Login */
.login {
  background-color: #45cbd4;
}
.login .button.default {
  background-color: #9a2e9b;
  color: #FFFFFF;
}
.main-nav {
  background: -webkit-linear-gradient(top, #45cbd4 0%, #005e75 70%);
  background: -moz-linear-gradient(top, #45cbd4 0%, #005e75 70%);
  background: -o-linear-gradient(top, #45cbd4 0%, #005e75 70%);
  background: -ms-linear-gradient(top, #45cbd4 0%, #005e75 70%);
  background: linear-gradient(to bottom, #45cbd4 0%, #005e75 70%);
}
@media screen and (min-width: 768px) {
  .main-nav {
    background: transparent;
  }
}
.main-nav__link.highlight {
  color: #fff !important;
  font-weight: 400;
}
.main-nav__head .icon-cross {
  color: #FFFFFF;
}

/* Top */
.main-h {
  background-color: #fff;
}

/* Menu */
.nav-list.top .nav-item {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Geomanist Book', sans-serif;
  text-transform: uppercase;
}
.nav-list.top .nav-item a {
  color: #fff;
  -webkit-transition: color 0.35s;
  -moz-transition: color 0.35s;
  -o-transition: color 0.35s;
  -ms-transition: color 0.35s;
  transition: color 0.35s;
}
.nav-list.top .nav-item:hover .nav-item__list {
  max-height: 150px;
}
@media screen and (min-width: 768px) {
  .nav-list.top .nav-item {
    font-size: 0.75rem;
  }
  .nav-list.top .nav-item.nosublist:hover .nav-item__list {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .nav-list.top .nav-item {
    font-size: 0.933rem;
  }
  .products-desc .tabs__header {
    display: block; 
  }
}
@media screen and (min-width: 1366px) {
  .nav-list.top .nav-item {
    font-size: 1.125rem;
  }
}
.nav-list.top .nav-item:nth-child(2) {
  margin-bottom: 15px;
}
.nav-list.top .nav-item:nth-child(2):after {
  background-color: rgba(255,255,255,0.1);
  content: '';
  display: block;
  height: 1px;
  margin-top: 15px;
  width: 100%;
}
@media screen and (max-height: 580px) {
  .nav-list.top .nav-item:nth-child(2) {
    margin-bottom: 6px;
  }
  .nav-list.top .nav-item:nth-child(2):after {
    margin-top: 6px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list.top .nav-item:nth-child(2) {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .nav-list.top .nav-item:nth-child(2):after {
    background-color: rgba(255,255,255,0.6);
    display: inline-block;
    height: 100%;
    margin: 0 0 0 15px;
    vertical-align: top;
    width: 1px;
  }
}
.nav-list.top .nav-item__list {
  margin-top: -8px;
  overflow: hidden;
  padding-left: 20px;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  transition: max-height 0.3s;
  text-transform: none;
}
@media screen and (min-width: 768px) {
  .nav-list.top .nav-item__list {
    max-height: 0;
    background-color: #45cbd4;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transform: translate(-55vw, 53px);
    -moz-transform: translate(-55vw, 53px);
    -o-transform: translate(-55vw, 53px);
    -ms-transform: translate(-55vw, 53px);
    transform: translate(-55vw, 53px);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: calc(100vw + 50vw);
  }
}
@media screen and (min-width: 1366px) {
  .nav-list.top .nav-item__list {
    -webkit-transform: translate(-40%, 53px);
    -moz-transform: translate(-40%, 53px);
    -o-transform: translate(-40%, 53px);
    -ms-transform: translate(-40%, 53px);
    transform: translate(-40%, 53px);
  }
}
@media screen and (max-height: 580px) {
  .nav-list.top .nav-item__list {
    margin-top: 5px;
  }
}
.nav-list.top .nav-item__item {
  color: #fff;
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1;
}
.nav-list.top .nav-item__item a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .nav-list.top .nav-item__item {
    margin: 8px 20px;
    font-size: 0.75rem;
  }
}
@media screen and (max-height: 580px) {
  .nav-list.top .nav-item__item {
    margin-top: 5px;
  }
}
.nav-item {
  color: rgba(255,255,255,0.7);
  font-size: 0.875rem;
  line-height: 2.25;
  margin: 0 4px;
}
.nav-item a {
  color: rgba(255,255,255,0.7);
}
@media screen and (min-width: 768px) {
  .nav-item {
    font-size: 0.75rem;
    line-height: 1;
    margin: 0 3px;
  }
  .nav-item.name {
    margin-left: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-item {
    font-size: 0.813rem;
    margin: 0 8px;
  }
}
@media screen and (max-height: 580px) {
  .nav-item {
    line-height: 1.5;
  }
}
.nav-item.dropdown .dropdown-toggle {
  padding-right: 0;
  padding-left: 12px;
}
.nav-item.dropdown .dropdown-toggle:after {
  right: auto;
  left: 0;
  top: 8px;
}
@media screen and (min-width: 768px) {
  .nav-item.dropdown .dropdown-toggle {
    padding-right: 8px;
    padding-left: 0;
    margin-right: 5px;
  }
  .nav-item.dropdown .dropdown-toggle:after {
    left: auto;
    right: 0;
    top: 5px;
  }
}

.nav-item__list {
  margin-top: -6px;
}
.nav-list.top .nav-item__item {
  color: #fff;
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1;
}
.nav-list.top .nav-item__item a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .nav-list.top .nav-item__item {
    margin: 8px 20px;
    font-size: 0.75rem;
  }
}
@media screen and (max-height: 580px) {
  .nav-list.top .nav-item__item {
    margin-top: 5px;
  }
}
.nav-item {
  color: rgba(255,255,255,0.7);
  font-size: 0.875rem;
  line-height: 2.25;
  margin: 0 4px;
}
.nav-item a {
  color: rgba(255,255,255,0.7);
}
@media screen and (min-width: 768px) {
  .nav-item {
    font-size: 0.75rem;
    line-height: 1;
    margin: 0 3px;
  }
  .nav-item.name {
    margin-left: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-item {
    font-size: 0.813rem;
    margin: 0 8px;
  }
}
@media screen and (max-height: 580px) {
  .nav-item {
    line-height: 1.5;
  }
}
.nav-item.dropdown .dropdown-toggle {
  padding-right: 0;
  padding-left: 12px;
}
.nav-item.dropdown .dropdown-toggle:after {
  right: auto;
  left: 0;
  top: 8px;
}
@media screen and (min-width: 768px) {
  .nav-item.dropdown .dropdown-toggle {
    padding-right: 8px;
    padding-left: 0;
    margin-right: 5px;
  }
  .nav-item.dropdown .dropdown-toggle:after {
    left: auto;
    right: 0;
    top: 5px;
  }
}
@media screen and (min-width: 768px) {
  .nav-item.dropdown .dropdown-item:hover a {
    color: #45cbd4 !important;
  }
}
@media screen and (min-width: 768px) {
  .nav-list.top .nav-item {
    color: #662f88;
  }
  .nav-list.top .nav-item a {
    color: #662f88;
  }
  .nav-list.top .nav-item:nth-child(2):after {
    background-color: rgba(0,0,0,0.2);
  }
  .nav-list.top .nav-item__item a {
    color: #fff;
  }

  .nav-list.top .nav-item:nth-child(2):hover > a {
    color: #ff5b66 !important;
  }
  .nav-list.top .nav-item:first-child:hover > a {
    color: #fba343 !important;
  }
  .nav-list.top .nav-item:nth-child(2):hover > a {
    color: #45cbd4;
  }
}
@media screen and (min-width: 768px) {
  .nav-item {
    color: rgba(144,45,155,0.7);
  }
  .nav-item a {
    color: rgba(144,45,155,0.7);
  }
  .nav-item:hover > a,
  .nav-item:hover .dropdown-toggle {
    color: #45cbd4 !important;
  }
  .nav-item.dropdown .dropdown-toggle:after {
    border-top-color: #45cbd4;
  }
  .nav-item.dropdown .dropdown-list {
    border-color: #ebebeb;
    background-color: #fff;
  }
  .nav-item.dropdown .dropdown-item {
    border-color: #ebebeb;
  }
  .nav-item.dropdown .dropdown-item:hover {
    background: #f5f5f5;
  }
  .nav-item.dropdown .dropdown-item:hover a {
    color: #45cbd4;
  }
}
/* ********************************** Global ********************************** */

/* ********************************** Index ********************************** */

/* Slider */

.mainslider__gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #120918 100%);
}
.business-slider .mainslider__gradient {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
}
.mainslider__gradient {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #45cbd4 100%);
}
.business-slider .mainslider__gradient {
  background: -webkit-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: -moz-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: -o-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: -ms-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: linear-gradient(to bottom, rgba(69,203,212,0) 60%, #45cbd4 100%);
}
.mainslider__gradient {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #120918 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #120918 100%);
}
.mainslider__gradient.theme--white {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, #fff 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 100%);

}
.business-slider .mainslider__gradient {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
}
.mainslider__gradient {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 50%, #45cbd4 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #45cbd4 100%);
}
.business-slider .mainslider__gradient {
  background: -webkit-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: -moz-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: -o-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: -ms-linear-gradient(top, rgba(69,203,212,0) 60%, #45cbd4 100%);
  background: linear-gradient(to bottom, rgba(69,203,212,0) 60%, #45cbd4 100%);
}
.mainslider__title {
  color: #fff;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .mainslider__title {
    color: #9a2e9b;
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 768px) {
  .mainslider__title {
    font-size: 4.375rem;
  }
}
@media screen and (min-width: 1366px) {
  .mainslider__title {
    font-size: 5.182rem;
  }
}
.mainslider__signals .signals__scroll:after {
  background-color: #FFF;
}
.mainslider__signals .signals__note span:last-child {
  color: #fff;
}
.mainslider__signals .signals__scroll {
  color: #673167;
}
.testimonials__title {
  color: #45cbd4;
}
.testimonials .slider__ctrl {
  border-color: #45cbd4;
  color: #45cbd4;
}
.testimonials .slider__ctrl:hover {
  border-color: #6ed7de;
  color: #6ed7de;
}
.testimonial__frase {
  color: #8bcf57;
  font-weight: 500;
}

.button {
  background-color: #9a2e9b;
}

.button--products {
    color: #45cbd4;
    background: #fff;
}

.button--products.cedis {
  color: #fff;
  background: #9a2e9b;
}

.button:hover {
    background-color: #ae3baf;
}

.button--products.cedis {
  background-color: #9a2e9b;
  color: #fff;
}

.button--products.cedis:hover {
  background-color: #ae3baf;
  color: #fff;
}

.button.clean {
  color: #45cbd4;
}
.button.clean:hover {
  color: #ff2836;
}
.bottom-banner.gradient:before {
  background: -webkit-linear-gradient(top, #45cbd4 0%, rgba(69,203,212,0) 50%);
  background: -moz-linear-gradient(top, #45cbd4 0%, rgba(69,203,212,0) 50%);
  background: -o-linear-gradient(top, #45cbd4 0%, rgba(69,203,212,0) 50%);
  background: -ms-linear-gradient(top, #45cbd4 0%, rgba(69,203,212,0) 50%);
  background: linear-gradient(to bottom, #45cbd4 0%, rgba(69,203,212,0) 50%);
}

/* Testimonios */
@media (min-width: 1025px) {
  .testimonials {
    width: calc((100% / 4) * 3.5);
  }
}


/* Buscar */
.search-results .product__name {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* ********************************** Index ********************************** */

/* ********************************** Productos ********************************** */

/* Nuestros Productos */
.products-desc.withbg {
  background-color: #662f88;
}
.product__name {
  font-family: 'Geomanist', serif;
  font-weight: 400;
  color: #45cbd4;
  text-transform: capitalize;
}

.products-page {
  background-color: transparent;
}
.products-page .products-maintitle {
  font: 500 1.5rem 'Geomanist Book', sans-serif;
  margin-top: 60px;
  text-align: center;
}
.products-page .products-maintitle {
  text-transform: none;
}
.products-maintitle {
  color: #806075;
}

.products-maintitle span {
  color: #fff;
}
.products-desc__title.blue, .products-desc__title.green, .products-desc__title.purple {
  color: #45cbd4;
}
@media (min-width: 1024px) {
  .products-page .products-maintitle {
    text-align: left;
  }
}
.products-desc__title {
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  .products-desc__title {
    font-size: 2em;
  }
}
@media screen and (min-width: 1366px) {
  .products-desc__title {
    font-size: 2em;
  }

  .products-desc .tabs__item a {
    font-size: .8rem;
  }
}
.products-page__tab {
  color: #806075;
  font-weight: 500;
}
.products-page__tab.active {
  border-color: #9a2e9b;
}
.products-page__h {
  background-color: #fff;
}

.products-desc__description {
  color: #806075;
}
.products-desc__price {
  color: #806075;
}
.product__description {
  color: #806075;
}
@media screen and (min-width: 768px) {
  .product-sale {
    background-color: #45cbd4;
  }
}

/* ********************************** Productos ********************************** */

/* ********************************** Categorias ********************************** */

.products-page.inner {
  background-image: -webkit-radial-gradient(circle at 33% 0, #ffdddf, #45cbd4 23%);
  background-image: -moz-radial-gradient(circle at 33% 0, #ffdddf, #45cbd4 23%);
  background-image: -o-radial-gradient(circle at 33% 0, #ffdddf, #45cbd4 23%);
  background-image: -ms-radial-gradient(circle at 33% 0, #ffdddf, #45cbd4 23%);
  background-image: radial-gradient(circle at 33% 0, #ffdddf, #45cbd4 23%);
}
.products-filter__title {
  color: #806075;
}
.products-filter__item a {
  color: #806075;
}
.products-desc__description {
  color: #806075;
}
.principal__desc {
  color: #2e3d49;
}

@media (min-width: 1367px){
  .principal__title {
    font-size: 3rem;
  }
}
.principal__title {
  font-weight: 200;
}
/* ********************************** Categorias ********************************** */

/* ********************************** Paginacion ********************************** */
.pager__item.active a {
  color: #45cbd4;
}
.pager__item a:hover {
  opacity: 0.8;
}

.pager__item a {
  color: #806075;
}
.pager__arrow {
  border-color: #45cbd4;
  color: #45cbd4;
}

.pager__label {
  color: #806075;
}

.testimonials .slider__bullet {
  border-color: #45cbd4;
  background-color: #45cbd4;
}
.products .slider__bullet {
  border-color: #45cbd4;
  background-color: #45cbd4;
}

/* ********************************** Paginacion ********************************** */

/* ********************************** Detalle ********************************** */

.principal__subtitle, .principal__price, .principal__pts {
  font-weight: 300;
}
.principal__breadcrumbs li:first-child a {
  padding-left: 0;
}
.principal__breadcrumbs a {
  color: #2e3d49;
}
.products-tabs .tabs__item a {
  color: #806075;
}
.products-tabs .tabs__item {
  color: #9a2e9b;
}
.products-tabs .tabs__content {
  color: #806075;
}

/* ********************************** Detalle ********************************** */

/* ********************************** Haz negocio ********************************** */

@media screen and (min-width: 1024px) {
  .business__item {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1366px) {
  .business__item {
    padding: 3.125rem 2.813rem;
  }
}
.business-slider .mainslider__title span {
  display: block;
}
.business-slider .mainslider__title {
    color: #662f88;
    font-family: 'Geomanist', Verdana, Arial;
    font-weight: 500;
}
.business {
  background: #45cbd4;
}
@media screen and (min-width: 1024px) {
  .business__main .col3-4 {
    background: #662f88;
  }
}
.business__banner .bottom-banner__content .button {
  background-color: #662f88;
}
.business__item-icon .cls-1 {
  fill: #8bcf57;
}
.business__item .business__title {
  color: #45cbd4;
  font-family: 'Geomanist', Verdana, Arial;
  font-weight: 400;
  text-transform: none;
}
.business__item-description {
    font-family: 'Roboto', Verdana, Arial;
    font-size: 1rem;
}
.mainslider__signals .signals__scroll:before {
  border-left-color: #9a2e9b;
}
.business__main-title {
  background: -webkit-linear-gradient(top, #662f88 0%, #662f88 15%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, #662f88 0%, #662f88 15%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, #662f88 0%, #662f88 15%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, #662f88 0%, #662f88 15%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, #662f88 0%, #662f88 15%, rgba(255,255,255,0) 100%);
}
.cases__banner .bottom-banner__content .button {
  background-color: #662f88;
}


/* ********************************** Haz negocio ********************************** */

/* ********************************** Embajadores ********************************** */

body.theme--white {
  background: #fff;
}
.ambassador.theme--cyan {
  background: #37b3bc;
}
.testimonials__title.ambassador {
  color: #ffffff;
}
.testimonials__title span {
  color: #9a2e9b;
}
.testimonials__subtitle.ambassador {
  color: #fff;
  font-family: 'Roboto', Verdana, Arial;
}
.products-desc.withbg.theme--gray {
  background: #4a494a;
}
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 1px;
  background: #31bd9c;
}
.item {
  background-color: #31bd9c;
}
.ambassador .products-desc__title {
  font-size: 2.5rem;
}
.testimonials.ambassador .slider__ctrl {
  display: none;
}

.ambassador--video img {
  margin: 0 auto;
}
.products-desc__title {
  font-weight: 500;
}
.ambassador h1::after {
  content: '';
  background: #39b9b4;
  height: 2px;
}
.ambassador--description {
  color: #fff;
  padding-bottom: 2rem;
}
.ambassador--description {
  color: #fff;
  padding-bottom: 2rem;
}
.ambassador--description {
  color: #fff;
  padding-bottom: 2rem;
}
.ambassador--description {
  color: #fff;
  padding-bottom: 2rem;
}

.ambassador img {
  width: 100%;
}
.ambassador--video img {
  margin: 0 auto;
}
.ambassador--video {
  width: 70%;
  margin: 0 auto;
}
.item.ambassador .content {
  width: 90%;
  margin: 0 auto;
  background: #fff;
}
.ambassador--info {
  position: relative;
  top: -3rem;
  background: #3ab9bf;
  width: 62%;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
}
h3.ambassador__name {
  color: #fff;
  margin: 0;
  padding: .75rem;
}
h4.ambassador__country {
  color: #123f36;
  margin: 0;
  padding: .75rem;
}
.ambassador--description__quote {
  font-family: 'Roboto', Verdana, Arial;
  font-size: 0.75rem;
  padding: 1rem;
}

.ambassador--description__info {
  text-align: left;
  padding: .25rem 1rem;
  font-size: 0.75rem;
}
.ambassador--description__info span {
  font-weight: bold;
}
.ambassador--description__socialmedia {
  width: 100%;
  height: 35px;
}
.item.ambassador .ambassador--description__socialmedia img {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin: 8px 9px;
}
.item.ambassador .ambassador--description__socialmedia a {
  display: inline-block;
}
.item.ambassador .desc {
  position: relative;
  top: -3rem;
}

.desc hr {
  width: 90%;
  margin: 1rem auto;
}

.ambassador--world {
  position: absolute;
  left: -43px;
  top: -2rem;
  width: 119px;
  z-index: 50;
}
.ambassador--faq {
  width: 100%;
  position: relative;
  margin-top: 3rem;
}
.ambassador--faq__objectives.theme--green {
  background: #31b698;
  padding: 3rem 6rem 3rem 6rem;
  color: #fff;
}
.ambassador--faq__objectives, .ambassador--faq__benefits {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
h2.faq--title {
  font-family: 'Geomanist', Verdana, Arial;
  font-size: 2rem;
}
.ambassador--faq__content {
  font-family: 'Roboto', Verdana, Arial;
  font-size: 0.75rem;
}
.faq--subtitle {
  font-family: 'Barlow', Verdana, Arial;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 2rem 0;
  color: #4a494a;
}
.ambassador--faq__content {
  font-family: 'Roboto', Verdana, Arial;
  font-size: 0.75rem;
}
.ambassador--faq__benefits {
  background: #4a494a;
  color: #fff;
  margin-left: -.5em;
}
.ambassador--benefits__container.theme--gray {
  padding: 6rem 6rem 3rem 6rem;
}
.ambassador--benefits__convocatory.theme--blue {
  background: #318092;
  padding: 6rem;
}
.ambassador--faq__content {
  font-family: 'Roboto', Verdana, Arial;
  font-size: 0.75rem;
}
.ambassador--benefits__container .faq--subtitle {
  color: #3ab9bf;
}
.ambassador--benefits__convocatory h2 {
  font-family: 'Geomanist', Verdana, Arial;
  font-size: 2rem;
}
.ambassador--benefits__convocatory a {
  color: #fff;
  background: #31b698;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  margin-top: 1rem;
  display: inline-block;
}

/* ********************************** Embajadores ********************************** */
.select-country {
  background: url('../images/country-nfuerza.jpg');
  background-size: cover;
}
.icon-search {
    background-image: url('/themes/omnilife2018/images/icons/buscador.svg');
}
.icon-cart {
    background-image: url('/themes/omnilife2018/images/icons/shopping_final.svg');
}
.icon-user {
    background-image: url('/themes/omnilife2018/images/icons/profile_gray.svg');
}
.icon-user-logged {
    background-image: url('/themes/omnilife2018/images/icons/nophoto_nfuerza.svg');
}
.icon-user-logged-header {
    background-image: url('/themes/omnilife2018/images/icons/nophoto_nfuerza_header.svg');
}

.mainslider .slider__ctrl {
  color: #9a2e9b;
}



.business-slider .mainslider__title .highlight {
    color: #fff !important;
}

.product__name {
    font-family: 'Geomanist', serif;
    font-weight: 400;
    color: #45cbd4;
    text-transform: none;
}

.products-desc .tabs__item a {
    color: currentColor;
    font-family: 'Barlow Semi Condensed', Arial, Verdana;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.bottom-banner__content h2.highlight {
    color: #662f88 !important;
}


.business__main-title .products-maintitle,
.business__main-title .products-maintitle span {
    color: #fff;
}

.search-row {
  color: #9a2e9b !important;
}

.search-row-header {
  color: #45cbd4 !important;
}

.search-row-description {
  color: #9a2e9b !important;
}

.main__slider--ambassador .mainslider__title {
    font-family: 'Fjalla One', Verdana, Arial;
    font-size: 5rem;
}

.over-main-slider {
    z-index: 30;
}

@media all and (min-width: 320px) and (max-width: 480px) {
  .business__slider {
    margin-top: 128px;
    overflow: hidden; 
  }
  .products-desc .tabs__header {
    display: block;
    margin-left: 1rem;
    margin-top: 2rem; 
  }
}

@media screen and (min-width: 1024px) {
  .business__item {
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
  }

  .main-h__logo img {
    height: 38px;
  }
}
