.survey--container {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 370px;
    background: #fff;
    height: 460px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    border-radius: 5px;
    z-index: 9999;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

body {
    font-family: montserrat, arial, verdana;
}
/*form styles*/
.survey {
    width: 330px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    color: #fff;
    font-family: 'Geomanist', Verdana, Arial;
    font-weight: 500;
}

.survey article {
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}

.survey fieldset {
    background: white;
    border: 0 none;
    border-radius: 5px;
    /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
    padding: 35px 30px 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    height: 360px;
    position: relative;
}

/*Hide all except first fieldset*/
.survey fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
.survey textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    margin-right: 1rem;
}

 
/*buttons*/
.survey .action-button {
    width: 100px;
    background: #9a2e9b;
    font-weight: 400;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 0 5px 10px 5px;
    border-radius: 9px;
    font-size: 13px;
    font-family: 'Roboto', Verdana, Arial;
}

.survey .action-button:hover, .survey .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #9a2e9b;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: 'Roboto', Verdana, Arial;
    margin-bottom: 0rem;
}
/*progressbar*/
.progressbar {
    margin-bottom: 15px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    margin-top: 1.1rem;
    padding-left: 0;
}
.progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 25%;
    float: left;
    position: relative;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 22px;
    line-height: 17px;
    display: block;
    font-size: 10px;
    color: #fff;
    background: transparent;
    font-weight: bold;
    border: 2px solid;
    border-radius: 50%;
    margin: 0 auto 5px auto;
    height: 22px;
}
/*progressbar connectors*/
.progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  .progressbar li.active:after{
    background: transparent;
    color: white;
}

.progressbar li.active:after {
    background: white;
    width: 72%;
    margin: 0 auto;
    display: block;
    left: -28px;
}

.redesign.looking {
    margin-bottom: 6rem;
}

.redesign label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.redesign label {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width:45px;
    margin: 0;
    position: relative;
}

.redesign p {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.redesign span {
    color: #333;
    position: absolute;
    font-size: 12px;
    font-family: 'Roboto', Verdana, Arial;
    display: inline-block;
    width: 60px;
}

p.mood--worst {
    background: url(../images/survey/pesimo_gris.png);
    background-size: contain;
    background-repeat: no-repeat;
}

p.mood--bad { 
    background: url(../images/survey/mal_gris.png); 
    background-size: contain;
    background-repeat: no-repeat; 
}

p.mood--regular { 
    background: url(../images/survey/regular_gris.png); 
    background-size: contain;
    background-repeat: no-repeat;
}

p.mood--good { 
    background: url(../images/survey/bien_gris.png); 
    background-size: contain;
    background-repeat: no-repeat;
}

p.mood--excellent { 
    background: url(../images/survey/excelente_gris.png); 
    background-size: contain;
    background-repeat: no-repeat;
}
/*  */
p.mood--veryHard {
    background: url(../images/survey/pesimo_gris.png);
    background-size: contain;
    background-repeat: no-repeat;
}

p.mood--hard { 
    background: url(../images/survey/mal_gris.png); 
    background-size: contain;
    background-repeat: no-repeat; 
}

p.mood--normal { 
    background: url(../images/survey/regular_gris.png); 
    background-size: contain;
    background-repeat: no-repeat;
}

p.mood--easy { 
    background: url(../images/survey/bien_gris.png); 
    background-size: contain;
    background-repeat: no-repeat;
}

p.mood--veryEasy { 
    background: url(../images/survey/excelente_gris.png); 
    background-size: contain;
    background-repeat: no-repeat;
}


/*  */
.redesign label > input:checked + p.mood--veryHard { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/pesimo_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--hard { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/mal_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--normal { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/regular_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--easy { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/bien_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--veryEasy { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/excelente_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}
/*  */

.redesign {
    text-align: left;
    margin-bottom: 0.5rem;
}

.redesign label > input + p { /* IMAGE STYLES */
  cursor:pointer;
  border: 2px solid transparent;
}

.redesign label > input:checked + p.mood--worst { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/pesimo_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--bad { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/mal_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--regular { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/regular_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--good { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/bien_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

.redesign label > input:checked + p.mood--excellent { /* (RADIO CHECKED) IMAGE STYLES */
  background: url(../images/survey/excelente_color.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.1);
}

/*  */

.redesign--question .fs-subtitle {
    margin: 1rem 0 1rem 0;
}

.redesign--question {
    margin-top: 3rem;
}

.redesign--question input {
    width: 100%;
    padding: .5rem .2rem;
    margin: 0 0 1rem 0;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #666;
    color: #666;
}

.role {
    margin-bottom: 2rem;
    text-align: left;
}

.role label {
    display: block;
    text-align: left;
    font-size: 13px;
    margin: 5px 0;
    color: #666;
    position: relative;
    text-transform: capitalize;
}

.role input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}

.role article {
    font-family: 'Roboto', Verdana, Arial;
    color: #2C3E50;
    font-size: 13px;
    margin-bottom: 2rem;
    text-align: justify;
    margin-top: 2rem;
}

.role label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

.role span {
    position: relative;
    left: 1.5rem;
    top: .65rem;
}

.role p {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 9px;
    border: 1px solid #666;
    left: 0;
    position: absolute;
    top: 0;
    margin-right: 9px;
    border: 1px solid #666;
}

.role label > input:checked + p { /* (RADIO CHECKED) IMAGE STYLES */
  background: url('../images/survey/check.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.message--success img {
    margin: 1rem auto;
    display: block;
}

.message--success {
    font-size: 13px;
    color: #666;
    margin-top: 2rem;
    font-family: 'Roboto', Verdana, Arial;
}

.survey--container .icon-btn.icon-cross.close {
    right: 11px;
    position: absolute;
    top: 8px;
    width: 15px;
    height: 15px;
}

.survey--container .icon-cross:before, 
.survey--container .icon-cross:after {
    background-color: currentColor;
    content: '';
    display: block;
    height: inherit;
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    .survey--container {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        width: 96%;
        bottom: 0;
        margin: 0 auto;
    }

    .survey {
        width: 95%;
    }

    .redesign p {
        width: 30px;
        height: 30px;
    }

    .redesign label {
        text-align: left;
        width: 40px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 371px) and (max-width: 480px) {
    .survey--container {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        width: 90%;
        bottom: 0;
        margin: 0 auto;
    }

    .survey {
        width: 90%;
    }
}